logging:
    level: "info" # the logging level
orders:
    buy_no: 20 # the number of buy orders to place
    sell_no: 20 # the number of sell orders to place
    step: 0.01 # the amount between orders
    start_price: 100 # the price to start trading at - ignored if order book spread already exists
    min_amount: 10
    max_amount: 1000
market:
    base_denom: "factory/bze13gzq40che93tgfm9kzmkpjamah5nj0j73pyhqk/uvdl" # the base currency
    quote_denom: "ubze" # the quote currency
volume:
    min: 1 # the minimum volume to trade
    max: 10 # the maximum volume to trade
    trade_interval: 120 # the number of seconds between orders
wallet:
    mnemonic: "your SUPER SECRET mnemonic" # the mnemonic of the wallet
client:
    grpc: "grpc.getbze.com:443" # the host of the gRPC server